a {
    text-decoration: none;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;
}
.background {

    background-repeat: space;
}
.Menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none; /*убираем маркеры списка*/
    box-sizing: border-box;
    text-align: center;
}
.Menu a {
    font-family: Roboto, sans-serif;
    color:  #16a085;
    font-size: 18px;/
    font-weight: 900;
    text-align: center;
    float:left; /*Размещаем список горизонтально для реализации меню*/
    padding: 20px 60px;
}
h1 {
    margin-bottom: 50px;
    font-size: 22px;
    font-family: Roboto, sans-serif;
    color: rgb(55, 55, 55);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    left: 341px;
    top: 922.3px;
    z-index: 11;
    padding: 20px 40px;
}
.back {
    background-color: #f5f6f7;
}
.img1 {
    width: 1280px;
    height: 790px;
}
#text {
    text-align: center;
}
#text h1 {
    width: 1050px;
    margin: 30px 90px -10px 90px;
}
#text p {
    width: 1050px;
    font-family: Roboto, sans-serif;
    color:  #373737;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 900;
    line-height: 26px;/* Approximation due to font substitution */
    text-align: center;
    margin: -50px 30px -30px 30px;
}
#button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background-color:  #16a085;
    width: 192px;
    height: 51px;
    text-align: center;
    margin: 50px 540px;
}
#button a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: GothamRounded,sans-serif;
    color:  #ffffff;
    font-size: 12px;/* Approximation due to font substitution */
    font-weight: 700;
    text-align: center;
    padding: 20px 40px;
}
h2 {
    color: #f5f6f7;
    padding: 0 60px;
}
p {
    font-family: Roboto, sans-serif;
    color:  #373737;
    font-size: 16px;/* Approximation due to font substitution */
    font-weight: 900;
    text-align: right;
    padding: 60px 80px 20px;
}
